body {
    background-color: #ECEFF1;
}

.write .materialize-textarea {
    padding: 0px;
    padding-bottom: 36px;
    margin-bottom: 0px;
    font-size: 18px;
}

.write .card-content {
    padding-bottom: 10px;
}

.write .card-action {
    text-align: right;
}

.wrapper {
    margin-top: 20px;
}

.photoImg {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.photoImg:hover {
    border: 1px solid #777;
}

.photoImg img {
    width: 100%;
    height: auto;
}
