<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cupid - develop version</title>


    <link href="static/dist/style.css" rel="stylesheet" type="text/css">

</head>

<body>

{% include 'snippet/navbar.html' %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="page-header">
                Photo
            </h1>
        </div>
        <div class="row col-md-12" style="padding: 10px">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Option
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Sort by ascending order</a></li>
                            <li><a href="#">Sort by descending order</a></li>
                            <li>
                                <form action="photo" method="post" enctype="multipart/form-data">
                                    <input id="upload" type="file" name="file" onchange="submit();return treu;"
                                           style="visibility: hidden; width: 1px; height: 1px"/>
                                </form>
                                <a href="" id="upload_link">Upload photo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center text-lg-left">
        {% for photoItem in photos %}
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src={{photoItem.path + photoItem.uuid}} alt="">
            </a>
        </div>
        {% endfor %}
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->


    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script type="text/javascript" src="static/dist/photo.js"></script>
<style>
#upload_link{
text-decoration:none;
}
#upload{
    display:none
}







</style>

</body>

</html>
